<p class='pull-right'>
  [<%= link_to "Edit this post", edit_post_path(@post) %>]
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>
  <div class="well">
    <p>URL:</p><p><%= @post.url %></p>
    <br/>
    <p><%= @post.description %></p>
    <br/>
  </div>
    <hr/>
